@import url('https://fonts.googleapis.com/css?family=Knewave');

/* Box Sizing: set everything to border-box */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* –– */

html, body {
    height:100%;
}

/* Outer grid */
body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    /* grid-gap: 2em; */
}

body > header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

body > main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

body > section.intro {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

body > section.result {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* –– */

/* Grid for intro section */
body > section.intro > header {
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    height: 100%;
    background-image: url("../images/rainbow.jpg");
    background-size: cover;
}

.question, .time, .result {
    /* color: white; */
    place-self: center;
    font-family: 'Knewave', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 4em;
    
}
/* –– */